@use 'styles/colors' as c;
@import '@angular/material/prebuilt-themes/indigo-pink.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.page {
  display: flex;
  justify-content: center;
  padding: 32px 16px;
  min-height: 100dvh;
  background-color: c.$bg-page;
}

.page-card {
  width: 100%;
  max-width: 720px;
  height: fit-content;
}
